SimpleComplex = 1
p_n_LGNeff = 6, 10, 4, 8
max_LGNeff = 8, 16, 8, 16

inputFolder = D:/scratch/patchV1/resource/
outputFolder = D:/scratch/patchV1/resource/
res_suffix = square-multi_layer

#fV1_feature = V1_feature-micro.bin
#fV1_vpos = vpos-micro_polar-fD_sp008_3D.bin
#fLGN_vpos = parvo_merged_float-micro.bin
#fLGN_vpos = parvo_float-micro2.bin

conLGN_suffix = layer-test # (b)inary/(c)ontinous_#connections_#complexPercentage
top_pick = false
strictStrength = true
conThres = 0.95
ori_tol = 15
disLGN = 1.2

# nArchtype
nType = 2, 2
typeAccCount = 352, 448
typeAccCount = 192, 256 
pureComplexRatio = 0.2, 0.2
envelopeSig = 1.1772
LGN_V1_RFratio = 1.0

#       4Cbeta, 4Calpha
inputLayer = 1, 2
#                  parvo, magno
V1_LGN_layer_match = 1, 0
V1_LGN_layer_match = 0, 1
# check RFtype.h to determine
# V1 types
# 0 non-opponent Gabor 
# 1 non-opponent center-surround 
# 2 single-opponent (center-surround)
# 3 double-opponent center-surround 
# 4 double-opponent Gabor
#
V1_RFtypeAccDist = 0.0, 0.0, 0.0, 0.0, 1.0
V1_RFtypeAccDist = 1.0, 0.0, 0.0, 0.0, 0.0
nRefTypeV1_RF = 2, 2, 2, 2, 2

# subregion types
# 0 M-on / L-on (non-opponent)
# 1 L-off / M-off (non-opponent) 
# 2 L-on / M-off (opponent)
# 3 L-off / M-on (opponent) 
#
V1_RefTypeID = 0, 1
V1_RefTypeID = 0, 1
V1_RefTypeID = 2, 3
V1_RefTypeID = 2, 3
V1_RefTypeID = 2, 3

V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0

useCuda = true 
#maxLGNperV1pool = 1024, 512, 512, 256
maxLGNperV1pool = 256, 256, 128, 128 
