SimpleComplex = 0

# check RFtype.h to determine
# V1 types
# 0 non-opponent Gabor 
# 1 non-opponent center-surround 
# 2 single-opponent (center-surround)
# 3 double-opponent center-surround 
# 4 double-opponent Gabor
#
V1_RFtypeAccDist = 0.2, 0.5, 0.7, 0.9, 1.0
#nRefTypeV1_RF =      2,   2,   2,   2,   2
nRefTypeV1_RF = 2, 2, 2, 2, 2

# subregion types
# 0 M-on / L-on (non-opponent)
# 1 L-off / M-off (non-opponent) 
# 2 L-on / M-off (opponent)
# 3 L-off / M-on (opponent) 
#
V1_RefTypeID = 0, 1
V1_RefTypeID = 0, 1
V1_RefTypeID = 2, 3
V1_RefTypeID = 2, 3
V1_RefTypeID = 2, 3

V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0
V1_RefTypeDist = 0.5, 1.0

useCuda = true 
maxLGNperV1pool = 14336 
